@charset "UTF-8";
/*! ClearVision v6.1.1 by the CV team */
/*! Powered by DiscordSelectors v0.2.7 */
/* DEFAULT SETTINGS */
.typeWindows-1za-n7 > .wordmark-2iDDfm:before {
  content: "VESKI THEME";
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  text-shadow: 0 0 3px #000;
}
.typeWindows-1za-n7 > .wordmark-2iDDfm:after {
  content: "v1.3.0";
  color: rgba(255, 255, 255, 0.3);
  font-family: var(--code-font);
  font-size: 10px;
}

.container-3baos1:before {
  content: "VESKI THEME";
  right: 50%;
  text-align: right;
  transform: translateX(50%);
}
.container-3baos1:after {
  content: "v1.3.0";
  left: 50%;
  text-align: left;
  opacity: 0;
  transform: translateX(50%) rotateX(90deg);
}
